<div class="wrapper">
    <div class="title-container">
        <app-title-main [title]="'New Transaction'" ></app-title-main>
    </div>  

    <div class="main-container">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" id="name" name="name" [(ngModel)]="newTransaction.name" placeholder="Name">
              </div>
    
            <div class="form-group">
              <input type="number" id="amount" name="amount" [(ngModel)]="newTransaction.amount" placeholder="Amount">
            </div>
    
            <div class="form-group">
              <input type="date" id="date" name="date" [(ngModel)]="newTransaction.date">
            </div>

            <div class="form-group">
                <input type="text" id="description" name="description" [(ngModel)]="newTransaction.description" placeholder="Description">
              </div>
    
            <button type="submit">Submit</button>
          </form>
    </div>
</div>
