button {
    width: 150px;
    height: 50px; 
    background: #2D2B2B; 
    border-radius: 15px;
    border: none;

    color: #FFF;
    font-family: Kufam; 
    font-size: 0.8em;
    font-weight: 800;

    cursor:pointer;
}

button:hover{
    background: #EE0474; 
}