.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 3px;
}

fa-icon{
    cursor: pointer;
    color:black;
}

fa-icon:hover{
    color: #EE0474;
}