.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.title-container {
    height: 10%;
    border-bottom:1px solid rgba(0, 0, 0,0.3) ;
    width: 100%;
}

.main-container {
    max-height: 90%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.filters{
    height: 10%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap:10px;
    padding-right: 10px;
    font-size: 0.7em;
}


.categories-list {
    height: 70%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    overflow-y: scroll;



}
.invisible{
    height: 10%;
}

.button-container{
    height: 20%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    background-color: transparent;
    font-family: 'Kufam' , sans-serif;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    text-decoration: wavy underline;
}