<div class="wrapper">
    <form (ngSubmit)="onSubmit()">
        <div class="empty-div"></div>
        <div class="main-form"
        >
        <div class="form-group">
            <input type="text" id="name" name="name" [(ngModel)]="transaction.name" placeholder="Name">
          </div>

        <div class="form-group">
          <input type="number" id="amount" name="amount" [(ngModel)]="transaction.amount" placeholder="Amount">
        </div>

        <div class="form-group">
          <input type="date" id="date" name="date" [(ngModel)]="transaction.date">
        </div>

        <div class="form-group" *ngIf="categoriesToShow.length > 0">
          <select id="categories" name="categories" [(ngModel)]="categoryToAdd">
            <option *ngFor="let category of categoriesToShow" [value]="category.id">{{ category.name }}</option>
          </select>
          <fa-icon [icon]="faAdd" (click)="addCategory()"></fa-icon>
        </div>
        
        <div class="form-group">
          <div class="category">
            <button *ngFor="let category of transaction.categories" (click)="removeCategory(category)">#{{category.name}}</button>
          </div>
        </div>


        <div class="form-group">
             <textarea id="description" (change)="doTextareaValueChange($event)" name="description"  placeholder="Description">{{transaction.description || ''}}</textarea>

        </div>
        </div>
        <div class="button-container">
          <app-button [type]="'submit'" [text]="submitButtonText" ></app-button>
        </div>
      </form>
</div>
